@border-color: #DDDDDD;

.posts {
    .main {
        .span-19;
        .append-1;
    }

    .sidebar {
        .span-4;
        .last;
        ul li {
            list-style: none;
        }
    }
    
    .main .list .readmore {
        width: 99%;
    }

    .main article.post {
        margin-bottom: 10px;
        header {
            div.sns {
                float: right;
                padding-top: 5px;
            }
            h3 {
                border-top: 1px solid @border-color;
                padding-top: 5px;
                border-bottom: 3px double @border-color;
                padding-bottom: 5px;
                margin-bottom: 0px;
            }
        }
        ul.tags {
            margin:0;
            list-style:none;
            text-align: right;
            min-height: 1em;
        }
        ul.tags li {
            display: inline; 
        }

        div.content {
            clear: both;
            .prepend-1;
        }
        footer {
            border-top: 1px solid @border-color;
            padding-top: 3px;
            text-align: right;
            vertical-align: top;
            margin-bottom: 40px;
            .actions {
                margin-top: 2px;
            }
        }

        footer time.created_at {
            display:none;
        }
    }

    .icon (@file){
        background-image: url(@file);
        background-repeat: no-repeat;
        padding-left: 20px;
        padding-bottom: 5px;
    }

    /** icons **/
    a.posts-new    { .icon('./images/posts-new.png'); }
    a.posts-edit   { .icon('./images/posts-edit.png'); }
    a.posts-delete { .icon('./images/posts-delete.png'); }
    a.posts-admin  { .icon('./images/posts-admin.png'); }
    a.archive-link { .icon('./images/archive-link.png')}
    a.tag-link     { .icon('./images/tag-link.png')}
    a.permalink    { .icon('./images/permalink.png') }
    time.updated_at { .icon('./images/time.png') }



    /* editor */
    #postEditor {
        .fieldRow {
            margin-bottom: 10px;
        }
        .buttons {
            text-align: right;
            button {
                margin-left: 10px;
            }
        }
        #title, #tags, #content { 
            width: 99%; 
            padding: 5px; 
            font-size: 10.5pt;
        }
    }
}


.posts.admin {
    .main {
        div.list.onlyDraft {
            article.post {
                display: none;
            }
            article.post.draft {
                display: block;
            }
        }
        
        article.post {
            header {
                .span-7;
                padding-top: 3px;
                padding-left: 10px;
                h3 {
                    display:inline;
                    font-size: 10pt;
                    border: none;
                }
            }
            ul.tags {
                .span-4;
                padding-top: 3px;
                text-align: left;
                li {
                    display:inline;
                }
            }
            footer {
                .last;
                border: 1px solid @border-color;
                padding-right: 10px;
                padding-bottom: 3px;
                margin-bottom: 3px;
            }
            .content { display: none; }
        }

        article.post.draft {
            h3:before {
                content: '[Draft]';
            }
            background-color: @border-color;
        }
    }
}