.posts {
  /** icons **/

  /* editor */

}
.posts .main {
  float: left;
  margin-right: 10px;
  width: 750px;
  padding-right: 40px;
}
.posts .sidebar {
  float: left;
  margin-right: 10px;
  width: 150px;
  margin-right: 0;
  padding-right: 0;
  margin-right: 0;
}
.posts .sidebar ul li {
  list-style: none;
}
.posts .main .list .readmore {
  width: 99%;
}
.posts .main article.post {
  margin-bottom: 10px;
}
.posts .main article.post header div.sns {
  float: right;
  padding-top: 5px;
}
.posts .main article.post header h3 {
  border-top: 1px solid #dddddd;
  padding-top: 5px;
  border-bottom: 3px double #dddddd;
  padding-bottom: 5px;
  margin-bottom: 0px;
}
.posts .main article.post ul.tags {
  margin: 0;
  list-style: none;
  text-align: right;
  min-height: 1em;
}
.posts .main article.post ul.tags li {
  display: inline;
}
.posts .main article.post div.content {
  clear: both;
  padding-left: 40px;
}
.posts .main article.post footer {
  border-top: 1px solid #dddddd;
  padding-top: 3px;
  text-align: right;
  vertical-align: top;
  margin-bottom: 40px;
}
.posts .main article.post footer .actions {
  margin-top: 2px;
}
.posts .main article.post footer time.created_at {
  display: none;
}
.posts a.posts-new {
  background-image: url('./images/posts-new.png');
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-bottom: 5px;
}
.posts a.posts-edit {
  background-image: url('./images/posts-edit.png');
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-bottom: 5px;
}
.posts a.posts-delete {
  background-image: url('./images/posts-delete.png');
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-bottom: 5px;
}
.posts a.posts-admin {
  background-image: url('./images/posts-admin.png');
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-bottom: 5px;
}
.posts a.archive-link {
  background-image: url('./images/archive-link.png');
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-bottom: 5px;
}
.posts a.tag-link {
  background-image: url('./images/tag-link.png');
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-bottom: 5px;
}
.posts a.permalink {
  background-image: url('./images/permalink.png');
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-bottom: 5px;
}
.posts time.updated_at {
  background-image: url('./images/time.png');
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-bottom: 5px;
}
.posts #postEditor .fieldRow {
  margin-bottom: 10px;
}
.posts #postEditor .buttons {
  text-align: right;
}
.posts #postEditor .buttons button {
  margin-left: 10px;
}
.posts #postEditor #title, .posts #postEditor #tags, .posts #postEditor #content {
  width: 99%;
  padding: 5px;
  font-size: 10.5pt;
}
.posts.admin .main article.post header {
  float: left;
  margin-right: 10px;
  width: 270px;
  padding-top: 3px;
  padding-left: 10px;
}
.posts.admin .main article.post header h3 {
  display: inline;
  font-size: 10pt;
  border: none;
}
.posts.admin .main article.post ul.tags {
  float: left;
  margin-right: 10px;
  width: 150px;
  padding-top: 3px;
  text-align: left;
}
.posts.admin .main article.post ul.tags li {
  display: inline;
}
.posts.admin .main article.post footer {
  margin-right: 0;
  padding-right: 0;
  margin-right: 0;
  border: 1px solid #dddddd;
  padding-right: 10px;
  padding-bottom: 3px;
  margin-bottom: 3px;
}
.posts.admin .main article.post footer:nth-of-type(odd) {
  background-color: #dddddd;
}
.posts.admin .main article.post footer:nth-of-type(even) {
  background-color: #ffffff;
}
.posts.admin .main article.post .content {
  display: none;
}
