<% title( _("posts.admin.createPost")) %>
<div class="posts">
  <h2><%= _("posts.admin.createPost") %></h2>
  <div class="main">
    <%- partial('parts/post_editor', {object: post, as: this}) %>
  </div>
  <aside class="sidebar">
    <%- partial('parts/sidebar') %>
  </aside>
</div>
