<aside class="sidebar">
  <div class="content">
  </div>
  <div class="content">
  </div>
</aside>
<div class="mainContents">
  <section class="posts">
    <h2><%= _("posts.new") %></h2>
    <article>
      <div class="content">
        <%- post %>
      </div>
    </article>
  </section>
</div>
