<div class="posts 2columns">
  <div class="main">
    <h3><%= _("posts.admin.createPost") %></h3>
    <%- partial('parts/post_editor') %>
  </div>
  <aside class="sidebar">
    <%- partial('parts/menu') %>
  </aside>
</div>
