<% title('Top') %>
<article>
  <section>
    <h2>Congraturations!!</h2>
    <p>
      You have completed to set up your sunrise site successfully!
      You can customize your top page on <var>_attachments/templates/index.ejs</var> file.
    </p>
  </section>
  <section>
    <h2>More Info</h2>
    <dl>
      <dt>Documentatoin</dt>
      <dd><a href="http://yssk22.github.com/sunrise/">http://yssk22.github.com/sunrise/</a></dd>
      <dt>Source Repository</dt>
      <dd><a href="https://github.com/yssk22/sunrise">https://github.com/yssk22/sunrise</a></dd>
    </dl>
  </section>
</article>

