<div class="mainContents">
  <section class="welcome">
    <h2>Welcome to sunrise</h2>
    <div class="content">
      <p>
        Congratuations! Your sunrise site is ready to work.
        Sunrise is an application container framework on top of node.js. It is easy to extend and replicate applications.
      </p>
    </div>
  </section>
  <section class="posts">
    <h2>News</h2>
    <%- posts %>
  </section>
</div>
